body{
background:url('brushed_alu.png') repeat-x;
background-repeat:repeat;
}
#log{
    position:absolute;
    top:10px;
    left:70%;
    
}
#topshade{
position:absolute;
top:0px;
height:45px;
width:100%;
left:0%;
background:url('topgrad.png') repeat-x;
}

#top{
position:absolute;
top:100px;
margin-left:13%;
margin-right:13%;
width:74%;
height:125px;
background:url('top.jpg');
opacity:0.4;
filter:alpha(opacity=40);
repeat:x;
repeat:y;
z-index:0;
}

#heading{
position:absolute;
top:140px;
margin-left:15%;
margin-right:35%;
font-family:"Trebuchet MS", Helvetica, sans-serif;
color:#404040;
z-index:1;

}

#ex
{
	position:absolute;
	top:160px;
	background-color:#A8B3BE;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	height:auto;
	min-height:850px;
	overflow:hidden;
	padding-top:80px;
	padding-bottom:50px;
	padding-left:100px;
	padding-right:100px;
	position:absolute;
	top:250px;
	margin-left:13%;
	margin-right:13%;
	width:57.8%;
	z-index:-2;
	opacity:0.6;
	filter:alpha(opacity=60);
	color:black;
}

#load{
    position:absolute;
	top:150px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	height:auto;
	min-height:850px;
	overflow:hidden;
	padding-top:130px;
	padding-bottom:50px;
	padding-left:100px;
	padding-right:100px;
	position:absolute;
	top:230px;
	margin-left:13%;
	margin-right:13%;
	width:56%;
}

#glike
{
	position:absolute;
	top:60px;
	left:13.5%;
	z-index:1;
}

#menu opt
{
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	top:233px;
    margin-left:2%;
	margin-right:20%;
	width:60%;
    padding:8px;
	padding-left:57%;
	padding-right:86%;
	display:block;
	background:url('menu.png');
	position:relative;
	color:white;
    left:-233%;
}

#menu opt:link
{
	text-decoration:none;
}

#menu opt:hover
{
	background:url('menuhover.png');
	text-decoration:none;
}

#menu li
{
	display:inline;
	float:right;
	width:8%;
	margin-left:1.35%;
    margin-right:0%;
	padding-left:4%;
	padding-right:2%;
}

p.off
{
	clear:both;
}

#tabres
{
	position:absolute;
	margin-left:11%;
	margin-right:13%;
	width:74%;
	padding:20px;
	padding-right:15px;
	top:350px;
	z-index:1;
	color:#525252;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}

table, td, th
{
border-collapse:collapse;

}
td
{
padding:5px;
}

#lol1
{
	position:absolute;
	text-align:center;
	margin-left:13%;
	margin-right:13%;
	width:74%;
	top:300px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	color:#D13E19;
	z-index:1;
}

#lol{
    top:260px;
    z-index:1;
    color: black;
}

#lol2
{
	position:absolute;
	text-align:center;
	margin-left:13%;
	margin-right:13%;
	width:74%;
	top:680px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	color:#D13E19;
	z-index:0;
}

#tabent{
	position:absolute;
	margin-left:13%;
	margin-right:13%;
	width:74%;
	top:720px;
	z-index:1;
	color:#525252;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}


#dleft
{
	position:absolute;
	left:58%;
    right:20%;
	left-margin:20%;
	color:#525252;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	top:400px;
	max-height:200px;
	z-index:1;
}

#foot
{
	position:absolute;
	top:1226px;
	margin-left:13%;
	margin-right:14.1%;
	width:74%;
	background:white;
	min-height:100px;
	height:auto;
	height:65px;
	bottom:0%;
	background:url('grad.png') repeat-x;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	color:#404040;
	z-index:1;
}